.suggestions{
    margin-top: 30px;
    margin-right: 20px;
}

.suggestions__title{
    color: gray;
    font-weight: bold;
}

.avatar{
    margin-right: 5px;
}
.username__left{
    display: flex;
    align-items: center;
}
.username__info{
    display: flex;
    flex-direction: column;
}
.relation{
    color: gray;
    font-size: 12px;
}
.suggestions_usernames{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.follow__button{
    color:#0095f6;
    background: 0;
    border: 0;
    
}
.follow__button:hover{
    color: white;
    cursor: pointer;
}
.username{
    font-weight: 600;
    font-size: 14px;
}